{% extends 'base.html' %}

{% block title %}Дашборд{% endblock %}

{% block content %}
    <div class="dashboard-container">
        <h1>{{ full_name }} ласкаво просимо до вашого дашборду!</h1>

        {% if role == 'teacher' %}
            <div class="section">
                <a href="{% url 'create_test' %}" class="btn create-btn">Створити новий тест</a>

                <h2>Ваші створені тести</h2>
                <div class="card-container">
                    {% for test in tests %}
                        <div class="card">
                            <h3>{{ test.name }}</h3>
                            <p><strong>Предмет:</strong> {{ test.subject }}</p>
                            <p><strong>Код тесту:</strong> {{ test.code }}</p>
                            <a href="{% url 'test_detail' test.id %}" class="btn">Переглянути тест</a>
                        </div>
                    {% empty %}
                        <p>Ви ще не створили жодного тесту.</p>
                    {% endfor %}
                </div>
            </div>

        {% elif role == 'student' %}
            <div class="section">
                <div class="form-block">
                    <h2>Приєднатися до тесту за кодом</h2>
                    <form method="POST" action="{% url 'join_test_by_code' %}">
                        {% csrf_token %}
                        <label for="test_code">Введіть код тесту:</label>
                        <input type="text" id="test_code" name="test_code" required>
                        <button type="submit" class="btn">Приєднатися</button>
                    </form>
                </div>

                <h2>Ваші зареєстровані тести</h2>
                <div class="card-container">
                    {% for test in tests %}
                        <div class="card">
                            <h3>{{ test.name }}</h3>
                            <p><strong>Предмет:</strong> {{ test.subject }}</p>
                            <a href="{% url 'test_detail' test.id %}" class="btn">Переглянути тест</a>
                        </div>
                    {% empty %}
                        <p>Ви ще не зареєструвалися на жоден тест.</p>
                    {% endfor %}
                </div>

            </div>

        {% else %}
            <p>Невірний профіль. Будь ласка, увійдіть знову.</p>
        {% endif %}
    </div>
{% endblock %}
